
html {
  background-color: #333;
}

html, body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

body {
  background-color: #fff;
  min-height: 100vh;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.colorA {
  color: #78e4ba;
}
.colorB {
  color: #f9c85d;
}

.fontA {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.scrybe-link {
  color: #7d7eff;
  font-weight: 600;
}

.scrybe-link:hover {
  color: #78e4ba;
}


/* Header */

.page-header {
  color: #fff;
  padding-top: 5rem;
}

.nameHeader{
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
}

.small {
  font-size: 1rem;
}

.contact {
  max-width: 600px;
}

.contact a {
  margin: 1rem 2rem;
  color: #ccc;
}


/* Projects */

.contact-item {
  color: #444;
  transition: color 0.2s;
}

.contact-item:hover {
  color: #2bbf74;
  cursor: pointer;
}

.projects {
  padding-top: 2rem;
  padding-bottom: 10rem;
  color: #fff;
  background-color: #111;
}

.project-list {
  margin: auto;
  max-width: 800px;
}

.project-title {
  transition: color 0.2s;
}
.project-desc {
  color: #888;
  font-size: 0.9rem;
  font-weight: 100;
}
.project-item {
  border: 1px solid rgba(0, 0, 0, 0);
  transition: border 0.2s;
}
.project-item:hover {
  border: 1px solid #2bbf74;
  cursor: pointer;
}
.project-item:hover .project-title {
  color: #2bbf74;
}

.project-img {
  object-fit: cover;
  height: 100%;
}


/* Experience & Education */

.bio {
  background-color: #202020;
  color: #e4e4e4;
}

.bio-text {
  width: 640px;
  max-width: 640px;
}

.portrait {
  user-select: none;
}

.experience {
  background-color: #3a6e6e;
  color: #fff;
}

.skills {
  background-color: #2f2f2f;
  color: #e4e4e4;
}

.skills-list {
  /* max-width: 65vw; */
  /* font-size: 1rem; */
  list-style: none;
}

.skills-card {
  width: 300px;
  min-width: 300px;
  background-color: #333;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.4);
  border: 4px solid #777;
  border-radius: 0.5rem;
}

.react {
  color: #44c1d7;
}
.vue {
  color: #248657;
}
.angular {
  color: #951c1c;
}
